/* Main structure   */

body {
    margin: 0px;
    font-family: 'Roboto Slab', serif;
    display: flex;
    flex-direction: column;
}

.headercontent {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.mainwrapper, .headercontent, footer {
    padding: 20px;
    box-sizing: border-box;
    max-width: 1260px;
    width: 100%;
    margin: 0 auto;
}

.mainwrapper, .columnswrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
}

main {
    box-sizing: border-box;
    flex: 1;
    padding-right: 15px;
}

aside {
    box-sizing: border-box;
    flex: 0;
    padding-left: 0px;
    margin-top: 15px;
    order: -1;
}

@media (min-width: 768px) {
    .mainwrapper {
        flex-direction: row;
        flex: 1;
    }
    main {
        flex: 1;
    }
    aside {
        /* 12em is the width of the columns */
        flex: 0 0 20em;
        order: 3;
        padding-left: 15px;
    }
}

footer {
    clear: both;
    max-width: 1260px;
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
}

.column1 {
    flex: 1 50%;
    box-sizing: border-box;
    padding-right: 0px;
    margin: 0;
}

.column2 {
    flex: 2 100%;
    order: 2;
    box-sizing: border-box;
    padding-left: 0px;
    margin: 0;
}

.column1 img, .column2 img {
    width: 100%;
    height: auto;
}

@media (min-width: 960px) {
    .columnswrapper {
        flex: 1;
        flex-direction: row;
    }
    .column1 {
        flex: 1 100%;
        padding-right: 15px;
    }
    .column2 {
        flex: 2 100%;
        padding-left: 15px;
    }
}

.clearboth {
    clear: both;
}


/* Header Styling */

header {
    background-color: yellow;
    height: 180px;
    font-size: 30px;
    font-weight: bolder;
    width: 100%;
    text-align: center;
    border-bottom: #f7f7f7 5px solid;
}

header h1 {
    font-size: 35px;
}

header h4 {
    font-size: 18px;
}


/* Section Styles */

.first {
    font-size: 1.2em;
    font-weight: bolder;
    line-height: 1.6em;
    margin-top: 15px;
}

.section {
    background-color: #f7f7f7;
    padding: 25px;
    margin-bottom: 30px;
}


/* General Styles */

a:link, a:visited {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

a:hover {
    color: red;
}

.smalltext {
    font-size: 12px;
}

ul.smalltext {
    padding: 0;
    list-style-type: none;
    padding-left: 15px;
}

.heading {
    padding: 15px 15px 15px 15px;
    background-color: yellow;
}

img {
    width: 100%;
    height: auto;
}

h1, h2, h3, h4 {
    margin: 0;
}

table {
    width: 100%;
    text-align: center;
}

table th:first-child {
    width: 25%;
}

table th:last-child {
    width: 25%;
}

li {
    margin-bottom: 0.5em;
}
